* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --gr-primary: #5429cc;
  --gr-secondary: #6933ff;
  --gr-color-botao-topo: #FFFFFF;
  --gr-background-main: #F0F2F5;
  --gr-background-cards: #FFFFFF;
  --gr-background-products: #FFFFFF;
  --gr-background-cards-topo-total: #33CC95;
  --gr-dark-text-cards: #363f5f;
  --gr-text-cards-topo-total: #FFFFFF;
}

body {
  background: var(--gr-background-main);
  font-family: 'Poppins', sans-serif;
}

.top {
  display: flex;
  background-color: var(--gr-primary);
  padding: 2rem 0 6rem;
  justify-content: center;
  
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  min-width: 1140px;
}

.btn__top {
  background-color: var(--gr-secondary);
  border-color: var(--gr-secondary);
  border: none;
  border-radius: 5px;
  padding: 12px 12px;
  color: var(--gr-color-botao-topo);
  font-size: 16px;
  font-weight: 400;
}

.cards-main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  
  
}
.cards{
  width: 352px;
  height: 136px;
  background-color: var(--gr-background-cards);
  border-radius: 5px;
  margin-top: -65px;
  padding: 25px;
}

.cards div{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cards p {
  color: var(--gr-dark-text-cards);
  font-size: 36px;
  margin: 10px 0;
  font-weight: 500;
}

.cards__title {
  font-size: 18px;
  color: var(--gr-dark-text-cards);
  font-weight: 500;
}


.cards:nth-child(3) {
  background: var(--gr-background-cards-topo-total);
  color: var(--gr-text-cards-topo-total);
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  margin-top: 30px;
  gap: 10px;
  padding: 30px;
  font-size: 16px;
  
}

.grid-container > div {
  text-align: center;
  padding: 10px 20px;
}

.background-product {
  background-color: var(--gr-background-products);
}